body {
  background-color:#D8EDF2;
  background: #eee !important;
}

.wrapper {
  margin-top: 60px;
  margin-bottom: 0px;
  padding-top: 30px;
  padding-bottom: 100px;
}

.form-account {
  max-width: 900px;
  padding: 15px 35px 45px;
  margin: 0 auto;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.form-account .form-account-heading,
.form-account .checkbox {
  margin-bottom: 30px;
}
.form-account .checkbox {
  font-weight: normal;
}
.form-account .form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.form-account .form-control:focus {
  z-index: 2;
}
.form-account input[type="text"] {
  margin-bottom: -1px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.form-account input[type="password"] {
  margin-bottom: 20px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}