* {
  box-sizing: border-box;
}

body {
  font-family: Arial;
  padding: 10px;
  background: #f1f1f1;
}

/* Header/Blog Title */
.title_web {
  padding: 30px 30px 10px 39px;
  margin-top: -26px;
  text-align: center;
  background-color: #29d4bc;
}

.title_web h1 {
  font-size: 50px;
}

/* Style the top navigation bar */
.nav_menu {
  overflow: hidden;
  background-color: #292321;
}

/* Style the topnav links */
.nav_menu a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change color on hover */
.nav_menu a:hover {
  background-color: #ddd;
  color: black;
}

/* Create two unequal columns that floats next to each other */
/* Left column */
.left_wiki {
  margin: -5px;
  float: left;
  width: 20%;
  padding-right: 10px;
  text-align: center;
}

.content_wiki {
  float:left;
  width: 57%;
  padding-top: 80px;
  margin-top: -85px;
}

/* Right column */
.right_wiki {
  float: left;
  width: 23%;
  background-color: #f1f1f1;
  padding-left: 20px;
}
/* Content card image */
.image_card{

}

.img_article {
    width: 400px;
    height: 600px;
}
/* Fake image */
.fakeimg {

  width: 100%;
  height: 300px;
  padding: 20px;
}

.circular--square {
  border-radius: 50%;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

a:link {
    text-decoration: none;
}
.tag_wiki {
  background-color: white;
  padding: 20px;
  margin-top: 20px;
}
/* Add a card effect for articles */
.card {
  background-color: white;
  padding: 20px;
  margin-top: 20px;
}
.article_card {
background-color: white;
  padding: 20px;
  margin-top: -63px;
}
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  background: #ddd;
  margin-top: 20px;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .left_wiki, .right_wiki {
    width: 100%;
    padding: 0;
  }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
  .nav_menu a {
    float: none;
    width: 100%;
  }
}