{% extends "base.html" %}

{% block title %}Forgot Password | {% endblock %}

{% block content %}
	<div class="wrapper" style="background-color:#D8EDF2">
      <form class="form-account" action="." method="post">
        <h2 class="form-account-heading text-lg-center">Forgot password</h2>  
        {{ form.as_p }}
		<p><input type="submit" class="btn btn-outline-dark" value="Submit"></p>
		{% csrf_token %}
      </form>
    </div>
{% endblock %}
