{% extends "base.html" %}

{% block title %}Forgot password | {% endblock %}

{% block content %}
	<div class="wrapper" style="background-color:#D8EDF2">
        <form class="form-account" method="post">
            <h2 class="form-account-heading text-lg-center">Forgot password</h2>   
            <h3>Email sent!</h3>
			<p>If you don't recive an email, make sure to type the email you use to register.</p>
        </form>
    </div>
{% endblock %}
