{% extends "base.html" %}

{% block title %}Change password | {% endblock %}

{% block content %}
	<div class="wrapper" style="background-color:#D8EDF2">
      <form class="form-account" method="post">
        <h2 class="form-account-heading text-lg-center">Change password</h2>  
        {% if validlink %}
        	{{ form.as_p }}
			{% csrf_token %}
			<p><input type="submit" class="btn btn-outline-dark" value="Submit" /></p>
        {% else %}
			<p>Link to change password is not valid or expired. Please request to send a new email.</p>
		{% endif %} 
	  </form>
	</div>
{% endblock %}