{% extends "base.html" %}

{% block title %}Change password suscess! | {% endblock %}

{% block content %}
	<div class="wrapper" style="background-color:#D8EDF2">
      <form class="form-account" method="post">
        <h2 class="form-account-heading text-lg-center">Change password.</h2> 
        	<h3>Change password sucess.</h3>
			<p>Go back to <a href="{% url 'login' %}"><u>Login</u>.</a></p>
	  </form>
	</div>
{% endblock %}