{% extends "base.html" %}

{% block title %}Change password suscess! | {% endblock %}

{% block content %}
	<div class="wrapper" style="background-color:#D8EDF2">
        <h2 class="form-account-heading text-lg-center">
            <h2>Change password</h2>   
			<p>Change password sucess. Go back to <a href="{% url 'account' %}"><u>account page</u></a></p>
        </form>
    </div>
{% endblock %}