{% extends "base.html" %}

{% block title %}Welcome to {% endblock %}

{% block content %}
    <div class="wrapper" style="background-color:#D8EDF2">
        <form class="form-account" method="post">
            <h2 class="form-account-heading text-lg-center">REGISTER</h2>   
            <h1>Welcome {{ new_user.first_name }} to CWiki!</h1>
			<p>You have suscessful register an account. You can <a href="{% url 'login' %}"><u>Login</u></a>.</p>
        </form>
    </div>
{% endblock %}