{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}Account | {% endblock %}

{% block content %}
	<br><br>
    <div class="container">
    <div class="row profile">
		<div class="col-md-3">
			<div class="profile-sidebar">
				<div class="profile-userpic">
						<img src="{% if user.profile.photo %}
							{{ user.profile.photo.url }}
						{% else %}
							{% static 'images/no_image.png' %}
						{% endif %}" width="200" height="200">
				</div>

				<div class="profile-usertitle">
          			<div class="profile-usertitle-job">
          				{{request.user.last_name}}
            			{{request.user.first_name}}
          			</div>
					<div class="profile-usertitle-name">
						Username: {{request.user.username}}
					</div>
				</div>
			</div><br>
            <div class="list-group">
              <a href="{% url 'account' %}" class="list-group-item list-group-item-action active">Account information</a>
              <a href="{% url 'password_change' %}" class="list-group-item list-group-item-action">Change Password</a>
            </div> 
		</div>
		<div class="col-md-9">
		    <div class="card">
		        <div class="card-body">
		            <div class="row">
		                <div class="col-md-12">
		                    <h4>Account information</h4>
		                    <hr>
		                </div>
		            </div>
		            <div class="row">
		                <div class="col-md-12">
		                    <form action="." method="post" enctype="multipart/form-data" class="form-account">
		                    {% csrf_token %}
                          	{{user_form|crispy}}
							{{profile_form|crispy}}
                              <div class="form-group row">
                                <div class="offset-4 col-8">
                                	<br>
                                  	<button name="submit" type="submit" class="btn btn-primary">Update</button>
                                </div>
                              </div>
                            </form>
		                </div>
		            </div>
		        </div>
		    </div>
		</div>
	</div>
{% endblock %}