{% extends "base.html" %}
{% load static %}

{% block title %}Homepage | {% endblock %}

{% block content %}
<div>
    <div>
        <div>
            {% for c in categories %}
                <a href="{{ c.get_absolute_url }}" style="text-align:center"><b>{{ c.title }}</b></a>
            {% endfor %}
            <br>  
        </div>            
    </div>
</div>     
{% endblock %}