{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}

{% block title %}Login | {% endblock %}

{% block content %}
    <div class="container">
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card card-signin my-5">
          <div class="card-body">
            <h2 class="card-title text-center">LOGIN</h2>
            <form class="form-signin" method="post">
                {% csrf_token %}
                {% for key, value in form.errors.items %}
                  {{ value }}
                {% endfor %}
              <div class="form-label-group">
                {% for field in form %}
                    <br><label for="{{ field.id_for_label }}">{{ field.label }}</label><br>
                    {{ field |attr:"class:form-control" }}  
                {% endfor %}
              </div>
              <br>
              <p><a href="{% url 'password_reset' %}" style="color:blue">Forgotten your Password?</a></p>
              <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Login</button>
              <input type="hidden" name="next" value="/"/> 
              <hr>
              <p>Not have an account yet? <a href="/register" style="color:blue"><b>Register</b></a></p>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}