{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}

{% block title %}New Page Request | {% endblock %}

{% block content %}
  <h1>New Page Request</h1>
  <hr>
  <form class="form-block" action="." method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {% for key, value in form.errors.items %}
      {{ value }}
    {% endfor %}
	<div class="row">
		<div class="col-xs-12 col-sm-6">
			<div class="form-group">
				<input class="form-input" value="{{ request.user.username }}" name="user" type="text" readonly>
			</div>
		</div>
		{% if request.user.is_superuser %}
			<div class="col-xs-12 col-sm-6">
				<div class="form-group">
					<input type="hidden" name="title" value="_" readonly></a>
				</div>
			</div>
			<div class="col-xs-12 col-sm-6">
				<div class="form-group">
					<textarea class="form-input" name="content" required="" placeholder="Your Reply"></textarea>
				</div>
				<input type="submit" class="btn btn-primary pull-right" value="Reply">
			</div>
		{% else %}
			<div class="col-xs-12 col-sm-6">
				<div class="form-group">
					<input class="form-input" name="title" required="" placeholder="Page Name"></textarea>
				</div>
			</div>
			<div class="col-xs-12 col-sm-6">
				<div class="form-group">
					<textarea class="form-input" name="content" required="" placeholder="Your request detail"></textarea>
				</div>
				<input type="submit" class="btn btn-primary pull-right" value="Add New Request">
			</div>
		{% endif %}
	</div>
  </form>
  <hr>
  {% for r in requests %}
	<h4 class="comments-title"> </h4>
	<div class="be-comment">
		<div class="be-img-comment">
			{% if r.user.is_superuser %}
				<a><img src="{% static 'images/admin.png' %}" alt="" class="be-ava-comment" width="30" height="30"></a>
			{% else %}
				<a href="#"><img src="{{ r.user.profile.photo.url }}" class="be-ava-comment" width="30" height="30"></a>
			{% endif %}
		</div>
		<div class="be-comment-content">
			<span class="be-comment-name">
				{% if r.user.is_superuser %}
					<a style="color:red"><b>{{ r.user.username }}</b></a>
				{% else %} 
					<a>{{ r.user.username }}</a>
				{% endif %}
			</span>
			<span class="be-comment-time" style="color:black">
				<i class="fa fa-clock-o" ></i>
				{{ r.created }}
			</span>
			<span class="be-comment-title">
				{{ r.title }}
			</span>
			<p class="be-comment-text">
				{{ r.content }}
			</p>
		</div>
        {% empty %}
        	<p>There are no request yet.</p>
	</div>
  {% endfor %}
{% endblock %}