{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}

{% block title %}Register | {% endblock %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card card-signin my-5">
          <div class="card-body">
            <h2 class="card-title text-center">REGISTER</h2>
            <form class="form-signin" method="post">
                {% csrf_token %}
                {% for key, value in form.errors.items %}
                  {{ value }}
                {% endfor %}

              <div class="form-label-group">
                {% for field in form %}
                    <br><label for="{{ field.id_for_label }}">{{ field.label }}</label><br>
                    {{ field |attr:"class:form-control" }}  
                {% endfor %}
              </div>
              <br>
              <div class="custom-control custom-checkbox mb-3">
                <label>
                <br><input type="checkbox" value="remember-me" id="policy" name="policy" required> I agree with <a target='_blank' href="{% url 'policy' %}" style="color:blue"> policy and privacy</a> of CWiki.<br>
                </label>
              </div>
              <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Register</button>
              <input type="hidden" name="next" value="/"/> 
              <hr>
              <p>Already register? <a href="/login" style="color:blue"><b>Login</b></a></p>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}