{% extends "base_page.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}
  Add category | {{ wiki_page.title}} | 
{% endblock %}

{% block body %}
    <form action="." method="post" enctype="multipart/form-data" class="form-account">
        {% csrf_token %}
        {{add_category_form|crispy}}

        <div class="form-group row">
        	<div class="offset-4 col-8">
            	<br>
                <button name="submit" type="submit" class="btn btn-primary">Add new category</button>
            </div>
        </div>
    </form>
{% endblock %}