{% extends "base_page.html" %}
{% load static %}

{% block stylesheet %}

<style>
.created {
  position: absolute;
  bottom: -16px;
  right: -18px;
  font-size: 18px;
}

.author_article {
  position: absolute;
  bottom: -17px;
  font-size: 18px;
  left: 21px;
}
</style>
{% endblock %}

{% block title %}
  {% if page_category %}{{ page_category.title }} | {% endif %} 
  {{ wiki_page.title}} | 
{% endblock %}

{% block body %}
    <div class="content_wiki" >
      {% if articles %}

       {% for article in articles %}
      <div class="card">
    <div class="row no-gutters">
        {% if article.header_image %}
        <div class="col-sm-5" style="background: #868e96;">
            <a href="{{ article.get_absolute_url }}">
                <img src="{{ article.header_image.url }}" class="card-img-top" alt="..." width="300px" height="350px"></a>
        </div>
        {% endif %}
        <div class="col-sm-7">
            <div class="card-body">
             <div class="card_title" style="margin-top: -23px;padding-bottom: 15px;">
                 <h4> {{ article.title }}</h4></div>
              <p><a href="{{ article.wiki_page.get_absolute_url }}"> {{ article.wiki_page.title }} </a> &gt;
                  <a href="{{ article.page_category.get_absolute_url }}"> {{  article.page_category.title }} </a> </p>
              <div class="row">

                <div class="author_article">
                  {{ article.is_author.username }}
                </div>
              <div class="created">
                {{ article.time_stamp|date:"Y-m-d" }}
              </div>
                </div>
            </div>
        </div>
    </div>
</div>
      {% endfor %}
         {% else %}
        <div class="card">
          <p>There are no Article yet.  </p>
        </div>
           {% endif %}
    </div>
{% endblock %}
