{% extends "base.html" %}
{% load static %}

{% block title %}
	{% if wiki_category %} {{ wiki_category.title }}
	{% else %} Pages List | 
	{% endif %}
{% endblock %}

{% block content %}
	<div class="container">

		<div class="row">
		    <div class="col-lg-3">
		    	<h1 class="my-4"></h1>
			    <div class="list-group">
						<a {% if not wiki_category %}
							class="list-group-item active"
						{% else %}
							class="list-group-item"
						{% endif %}
						 	href="{% url 'wikipage:page_list' %}" style="text-align:center"><b>All categories</b></a>

					{% for c in wiki_categories %}
						<a {% if wiki_category.id == c.id %}
							class="list-group-item active"
							{% else %}
							class="list-group-item"
						{% endif %}
						 	href="{{ c.get_absolute_url }}" style="text-align:center"><b>{{ c.title }}</b></a>
					{% endfor %}
					<br>
			    </div>
		    </div>
			<div class="col-lg-9">
				<div id="Indicator" class="carousel slide my-4" data-ride="carousel">
					
			    </div>
				<div class="row">
					{% for p in wiki_pages %}
						<div class="col-lg-4 col-md-6 mb-4">
							<div class="card h-100">
								{% comment %}
								<a href="{{ p.get_absolute_url }}">
									<img class="card-img-top" src="
									{% if p.image %}
										{{ p.page_property.logo.url }}
									{% else %}
										{% static 'image/no_image.png' %}
									{% endif %}">
								</a>
								{% endcomment %}
								<a href="{{ p.get_absolute_url }}">{{ p.title }}
								</a>
				            </div>
				       	</div>
					{% endfor %}
				</div>	
			</div>
			{% include "pagination.html" with page=wiki_pages %}
		</div>
	</div>
{% endblock %}