{% extends "base_page.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}
  Edit Page Property | {{ wiki_page.title}} | 
{% endblock %}

{% block body %}
	<form action="." method="post" enctype="multipart/form-data" class="form-account">
		{% csrf_token %}
        {{edit_form|crispy}}
        <div class="form-group row">
        	<div class="offset-4 col-8">
            	<br>
                <button name="submit" type="submit" class="btn btn-primary">Update</button>
            </div>
        </div>
    </form>
{% endblock %}