{% extends "base.html" %}
{% load static %}

{% block title %}Page Search | {% endblock %}



{% block content %}
	<div class="container">
		<div class="row">
			<div class="col-lg-3">
			    <h1 class="my-4"></h1>
				<div class="list-group">
				    <form class="form-signin">
				    	<h5 class="form-signin-heading text-lg-center">Search<br> 
				    		{% if query %} "{{ query }}" {% endif %}
				    	</h5>
				    	<hr>
				    	<form action="." method="get">
				    		{% comment %}
							{{ form.as_p }}
							<input type="submit" class="btn btn-outline-dark" value="Search"> 
							<hr>
							{% endcomment %}
					    	{% with results.count as total_results %}
								Found {{ total_results }} result{{ total_results|pluralize }}
							{% endwith %}
						</form>
					</form>
					<br> 
				</div>
			</div>
			
			

			<div class="col-lg-9">
				<div id="Indicator" class="carousel slide my-4" data-ride="carousel"></div>
				<div class="row">
					{% for p in results %}
						<div class="col-lg-4 col-md-6 mb-4">
							<div class="card h-100">
								{% comment %}
								<a href="{{ p.get_absolute_url }}"> 
									<img class="card-img-top" src="
										{% if p.image %}
											{{ p.image.url }}
										{% else %}
											{% static 'image/no_image.png' %}
										{% endif %}	">
								</a>
								{% endcomment %}
								<div class="card-body">
									<h4 class="card-title">
										<a href="{{ p.get_absolute_url }}">{{ p.title }}</a>
									</h4>
								</div>
					       	</div>
						{% empty %}
							<p>*Can't found any result match your keyword.</p>
						{% endfor %}
					</div>	
				</div>
			</div>
		</div>
	{% if results %}
    	{% include "pagination.html" with page=results %}
  	{% endif %}
{% endblock %}