{% extends "wikiarticle/layout_page.html" %}
{% block title %}
  
{% endblock %}
{% block content %}
  <div class="title_web">
    <h1>Community's Wiki</h1>
    <!--<p>Bách Khoa Toàn Thư Của Cộng Đồng.</p>-->
  </div>

<div class="row">
  <div class="left_wiki">
    <div class="card">
      <h2 style="border-bottom: 3.4px solid #00d6d6; display:inline-block">TOP WIKIS</h2>

    <ul style="list-style-type:None">
      <li>tag</li>
    </ul>
      </div>
  </div>

  <div class="content_wiki">
    {% if articles %}
    {% for article in articles %}
    {% if article.header_image %}
    <div class="card">

        <div class="fakeimg" style="text-align:center;">
          <img src="{{ article.header_image.url }}" width="500px" height="250px">
          <a href="{{ article.get_absolute_url }}"><h2> {{ article.title }}</h2></a>
        </div>
      <p>{{ article.ís_author.username }} </p>
    </div>
    {% endif %}
    {% endfor %}
    {% else %}
    <div class="card">
      <p>add article</p>
    </div>
    {% endif %}
  </div>
  <div class="right_wiki">
    <div class="card">
      <h2>About Me</h2>
    <div class="card">
      <h3>Follow Me</h3>
      <p>Some text..</p>
    </div>
  </div>
</div>

{% endblock %}
