<!DOCTYPE html>
{% load static %}
<html>
<head>
<link rel="stylesheet" href="{% static 'css/style.css' %}">
  <title>{% block title %} {% endblock %}</title>
  {% block static_file %} {% endblock %}
</head>
<body>

  <div class="title_web">
    <h1>Community's Wiki</h1>
    <p>Bách Khoa Toàn Thư Của Cộng Đồng.</p>
  </div>

  <div class="nav_menu">
    <a href="#">Logo</a>
    <a href="#">Game</a>
    <a href="#">Movies</a>
    <a href="#" style="float:right">log in</a>
  </div>
{% block content %}
  {% endblock %}


</body>
</html>
