{% extends 'base.html' %}
{% load static %}

{% block title %} Article {% endblock %}
<style>
    input {
    width: 100%;
    }
</style>
{% block content %}
<div class="left_wiki">
    <div class="card" style="background-color:#f1f1f1; border-style:none;">

    </div>
</div>
<div class="content_wiki">


<form action="{% url 'wikiarticle:create_article' id=wiki_page.id page_slug=wiki_page.slug %}"
      method="post" enctype="multipart/form-data" style="padding-top:40px;">
    {% csrf_token %}
    <div class="row" style="margin-left:2px;">
        <label for="id_page_category">Category:</label>
       <select name="page_category" required id="id_page_category">
        <option value="" selected="">---------</option>
           {% for category in page_categories %}
             <option value="{{ category.id }}" >{{ category.title }}</option>
           {% endfor %}
</select>
         <label for="id_title">Title:</label>
    <input type="text" name="title" maxlength="100" required="" id="id_title" style="width:50%">

    </div>
    <div class="row"  style="margin-bottom:10px;margin-left:2px;">
         <label for="id_header_image">Header image:</label>
        <input type="file" name="header_image" accept="image/*" id="id_header_image">
    </div>
        {{ form.content_article }}
        {{ form.media }}
    <input type="submit" value="Upload Article">

   </form>
    </div>
<div class="right_wiki">

</div>


{% endblock %}
