{% extends 'base_page.html' %}
{% load static %}

{% block content %}
<div class="left_wiki">
    <div class="card" style="background-color:#f1f1f1;border-style:none;">

    </div>
</div>
<div class="content_wiki" >
        {% if article.header_image %}
    <div class="card">

       <img class="img_article"  src="{{ article.header_image.url }}"
			style="text-align:center;text-align:center;width: 100%;height: 450px;">

		   <h2 style="margin-top: 4px;"> {{ article.title }}</h2>
			<p><a href="{{ article.wiki_page.get_absolute_url }}"> {{ article.wiki_page.title }} </a> &gt;
                  <a href="{{ article.page_category.get_absolute_url }}"> {{  article.page_category.title }} </a> </p>
    {% endif %}

	</div>
	{% if status_article == 1 or  request.user.is_superuser or status_article == 2 and request.user.is_authenticated %}
   <a href="{{  article.get_edit_absolute_url  }}">Edit</a>
	{% elif status_article == 2 or status_article == 3 %}
	<p>The article is lock or restrict.So you cann't edit article</p>
	{% endif %}
    <div class="card">
         {{ article.content_article | safe }}
    </div>
    <div class="card" style="background-color:#edb9ee0d;">
        <h2>Comments</h2>
        <hr>
    <div class="be-comment-block">
        {% for comment in comments %}
	<h4 class="comments-title"> </h4>
	<div class="be-comment">
		<div class="be-img-comment">
			{% if comment.is_user.profile.photo %}
			<a href="blog-detail-2.html">
				<img src="{{ comment.is_user.profile.photo.url }}" alt="" class="be-ava-comment">
			</a>
			{% elif comment.is_user.is_superuser %}
				<img src="{% static 'images/admin.png' %}" alt="" class="be-ava-comment">
			{% else %}
				<img src="{% static 'images/undefined.png' %}" alt="" class="be-ava-comment">
			{% endif %}
		</div>
		<div class="be-comment-content">

				<span class="be-comment-name">
						{% if  comment.is_user.is_superuser %}
					<div style="color:red;">
						{{ comment.is_user.username }}
						</div>
					{% elif comment.is_user.is_authenticated %}
					<div>
						{{ comment.is_user.username }}
						</div>
						{% elif comment.anonymous %}
					<div>
						{{ comment.anonymous }}
					</div>
					{% else %}
					<div>
						anonymous
					</div>
						{% endif %}
					</span>
				<span class="be-comment-time" style="color:black">
					<i class="fa fa-clock-o" ></i>
					 {{ comment.created }}
				</span>

			<p class="be-comment-text">
				{{ comment.content }}
			</p>
		</div>
        {% empty %}
        <p>There are no comments yet.</p>
        {% endfor %}
	</div>

	<form class="form-block" action="{{ article_get_absolute_url }}"
          method="post" enctype="multipart/form-data">
        {% csrf_token %}
		<div class="row">
			{% if  not request.user.is_authenticated %}
			<div class="col-xs-12 col-sm-6">
				<div class="form-group">
					<input class="form-input"  name="anonymous" type="text" placeholder="Your name" >
				</div>
			</div>
			</div>
		<div class="row">
			{% endif %}
			<div class="col-xs-12 col-sm-6">
				<div class="form-group">
					<textarea class="form-input" name="content" required="" placeholder="Your text" style="width:566px;" ></textarea>
				</div>
			</div>
		</div>
		<input type="submit" class="btn btn-primary pull-right" value="Comment">
	</form>
</div>
</div>
</div>

{% endblock %}