{% extends 'base_page.html' %}

{% block title %} {{ article.title }} {% endblock %}

{% block content %}

<div class="left_wiki">
    <div class="card" style="background-color:#f1f1f1;border-style:none;">

    </div>
</div>

<div class="content_wiki" >
    <form action="{{ article.get_edit_absolute_url }}"
          method="post" enctype="multipart/form-data" style="width:100%; padding-top:70px" >
         {% csrf_token %}
        {% if property_form %}
            {{ property_form }}
        {% endif %}
        {{ form.content_article }}
        {{ form.media }}


        <input type="submit" value="Submit">
    </form>
</div>
{% endblock %}