{% extends "base.html" %}
{% load static %}

{% block stylesheet %}

<style>
.created {
  position: absolute;
  bottom: -16px;
  right: -18px;
  font-size: 18px;
}

.author_article {
  position: absolute;
  bottom: -17px;
  font-size: 18px;
  left: 21px;
}
</style>
{% endblock %}

{% block menu %}
 <li>
      <form class="d-flex justify-content-center h-100"  method="get" action="{% url 'wikiarticle:search_article' %}">
        <div class="searchbar" style="padding:7px;">
          <input class="search_input" type="text" name="query" placeholder="Article search ..." style="height: 27px;">
          <input type="submit" class="search_icon" value="" style="
                 background: url('/static/images/icon_search.png');
                 background-size:cover;
                 margin-bottom: -9px;
                 background-color: aquamarine;
                 width: 25px;
                 height: 28px;
                 margin-left: -5px;
                 "> </div>
      </form>
    </li>
{% endblock %}

{% block content %}
<div class="left_wiki">
    <div class="card" style="background-color:#f1f1f1;border-style:none;">

    </div>
</div>
   <div class="content_wiki" >
      {% if results %}

       {% for article in results %}
      <div class="card">
    <div class="row no-gutters">
        {% if article.header_image %}
        <div class="col-sm-5" style="background: #868e96;">
            <a href="{{ article.get_absolute_url }}">
                <img src="{{ article.header_image.url }}" class="card-img-top" alt="..." width="300px" height="350px"></a>
        </div>
        {% endif %}
         <div class="col-sm-7">
            <div class="card-body">
             <div class="card_title" style="margin-top: -23px;padding-bottom: 15px;">
                 <h4> {{ article.title }}</h4></div>
              <p><a href="{{ article.wiki_page.get_absolute_url }}"> {{ article.wiki_page.title }} </a> &gt;
                  <a href="{{ article.page_category.get_absolute_url }}"> {{  article.page_category.title }} </a> </p>
              <div class="row">

                <div class="author_article">
                  {{ article.is_author.username }}
                </div>
              <div class="created">
                {{ article.time_stamp|date:"Y-m-d" }}
              </div>
                </div>
            </div>
        </div>
    </div>
</div>
      {% endfor %}
         {% else %}
        <div class="card">
          <p>There are no Article yet.  </p>
        </div>
           {% endif %}
    </div>
{% endblock %}
