<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
    <meta name="description" content="Cwiki.com">
    <meta name="author" content="LongKhiem">

    <title>{% block title %}{% endblock title %}CWiki</title>
    <link rel="icon" href="{% static 'images/logos/favicon.ico' %}">
    
    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/comments.css' %}">
    <link href="{% static 'css/profile.css' %}" rel="stylesheet">
    <link href="{% static 'css/account.css' %}" rel="stylesheet">

    {% block stylesheet %}{% endblock stylesheet %}
</head>

<body>  
    <!-- Navigation bar-->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" style="background-color:#0D1A26">
        <div class="container-fluid">
            <a class="navbar-brand" href="/" style="color: white">CWiki | Community's Wiki</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">

                    {% block menu %}
                     <li>
      <form class="d-flex justify-content-center h-100"  method="get" action="{% url 'wikipage:page_search' %}">
        <div class="searchbar" style="padding:7px;">
          <input class="search_input" type="text" name="query" placeholder="Page search..." style="height: 27px;">
          <input type="submit" class="search_icon" value="" style="
                 background: url('/static/images/icon_search.png');
                 background-size:cover;
                 margin-bottom: -9px;
                 background-color: aquamarine;
                 width: 25px;
                 height: 28px;
                 margin-left: -5px;
                 "> </div>
      </form>
    </li>
                    {% endblock %}
                    <li class="nav-item"><a class="nav-link" href="/page" style="color: white">Page</a></li>
                     <li class="nav-item"><a class="nav-link" href="/page_request" style="color: white">New Page Request</a></li>
                    <hr style="width: 1px; height: 20px; background: brown; border: none; margin-bottom:-5px;margin-top:10px" />
                    <form class="form-inline">
                      {% if request.user.is_authenticated %}
                        <li class="nav-item dropdown" style="margin-bottom:-6px;">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-expanded="false" style="color: yellow;margin-bottom:4px">{% if not request.user.is_superuser %}
                                {% if request.user.profile.photo %}
                                  <img src="{{ request.user.profile.photo.url }}" class="circular--square" width="30" height="30">
                                {% endif %}
                            {% endif %}
                            Hello <strong> {{request.user.username}}</a></strong>
                        <!-- Dropdown menu -->
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                          {% if request.user.is_superuser %}
                            <li><a class="dropdown-item" href="/admin">AdminPage</a></li>
                          {% else %}
                            <li><a class="dropdown-item" href="/account">Profile</a></li>
                          {% endif %}
                          <li><hr class="dropdown-divider" /></li>
                          <li><a class="dropdown-item" href="{% url 'logout' %}">Log out</a></li>
                        </ul>
                        </li>
                      {% else %}
                        <a class="nav-link" href="/register" style="color: white">Register</a>
                        <br>
                        <a class="nav-link" href="/login" role="button" style="color: white" aria-pressed="true">Login</a>
                      {% endif %}
                    </form>
                </ul>
            </div>
        </div>
    </nav>
    <div>
    <br>
    {% if messages %}
        <br>
        <ul class="messages">
        {% for msg in messages %}
            <div class="alert alert-info alert-dismissable">
                 <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            {{msg.message}}
            </div>
        {% endfor %}
        </ul>
    {% endif %}
    <div>
    {% block content %}
    
    {% endblock %}
    <!-- Footer -->
    <footer>
    </footer>
    
    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'js/jquery-3.5.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
        {% block scripts %} {% endblock %}
</body>
</html>