{% extends "base.html" %}
{% load static %}


{% block stylesheet %}
  <link href="{% static 'css/main.css' %}" rel="stylesheet">
{% endblock stylesheet %}

{% block title %}

{% endblock %}

{% block menu %}
  <li>
      <form class="d-flex justify-content-center h-100"  method="get" action="{% url 'wikiarticle:search_article' %}">
        <div class="searchbar" style="padding:7px;">
          <input class="search_input" type="text" name="query" placeholder="Article search ..." style="height: 27px;">
          <input type="submit" class="search_icon" value="" style="
                 background: url('/static/images/icon_search.png');
                 background-size:cover;
                 margin-bottom: -9px;
                 background-color: aquamarine;
                 width: 25px;
                 height: 28px;
                 margin-left: -5px;
                 "> </div>
      </form>
    </li>
{% endblock %}

{% block content %}
<div class="title_web">
    <h1><a href="{% url 'wikipage:page_index' id=wiki_page.id page_slug=wiki_page.slug %}">{{ wiki_page.title }}</a></h1>
    <p>{{ page_property.slogan }}</p>
  </div>

  <div class="nav_menu">
    {% for c in page_categories %}
      <a href="{{ c.get_absolute_url }}" style="text-align:center"><b>{{ c.title }}</b></a>
    {% endfor %}
      <a href="{% url 'wikipage:page_add_category' page_slug=wiki_page.slug %}" style="color: yellow">+</a>
  </div>

  <div class="row">
    <div class="left_wiki">
      <div class="card">
        <h2 style="border-bottom: 3.4px solid #00d6d6; display:inline-block">User-Action</h2>
        <ul style="list-style-type:None">
          <li><a href="{% url 'wikipage:page_index' id=wiki_page.id page_slug=wiki_page.slug %}">Home Page</a></li>
          <hr>
          {% if request.user.is_authenticated %}
          <li><a href="{{ wiki_page.create_absolute_url }}">Create-Article</a></li>
          <hr>
          <li><a href="{% url 'wikipage:page_edit' page_slug=wiki_page.slug %}">Edit Page Property</a></li>
          <li><a href="{% url 'wikipage:page_add_category' page_slug=wiki_page.slug %}">Add Page Category</a></li>
          {% endif %}
        </ul>
      </div>
    </div>
    {% block body %}{% endblock %}
    <div class="right_wiki">
      <div class="card">
        <h2>About Page</h2>
        <p>{{ page_property.about }}</p>
      </div>

    </div>
  </div>
  {% if articles %}
    {% include "pagination.html" with page=articles %}
  {% endif %}
{% endblock %}

{% block scripts %}
<script src="{% static 'js/bootstrap.min.js' %}"> </script>
<script src="{% static 'js/jquery.min.is' %}"> </script>
{% endblock %}
